<ion-header-bar class="bar-stable bar bar-positive" align-title="center">
  <h1 class="title myTitle">{{configdata.areaname}}</h1>
  <button class="button button-icon icon ion-android-menu"
          ng-click="configmodal.show()"
          side="right">
  </button>
</ion-header-bar>

<ion-content>

  <table id="tablemain" height="100%" border="1"   style="padding: 0px;overflow: hidden; background-color: lightskyblue;" width="100%">
    <tr style="height: 50%;" >
      <td width="33%"   style="overflow: hidden;border-left: darkgrey solid 1px;border-right: darkgrey solid 1px;">
         <div class="mygrid">
          <button class="button myButton">&nbsp;心电第1诊室&nbsp;</button>

          <div>
            <ion-scroll zooming="true" class="ion-list-viewport">
              <ion-list>
                <ion-item ng-repeat="item in data1" ng-class="'listitem'">
                  {{item.lineno.length==1?"&nbsp;&nbsp;":""}}{{item.lineno}} {{item.name}} {{item.name.length==2?"&nbsp;&nbsp;":""}}
                </ion-item>
              </ion-list>

            </ion-scroll>
          </div>


        </div>

      </td>
      <td width="33%"   style="overflow: hidden;border-left: darkgrey solid 1px;border-right: darkgrey solid 1px;">
        <div class="mygrid">
          <button class="button myButton">&nbsp;心电第2诊室&nbsp;</button>
          <div >
            <ion-scroll class="ion-list-viewport">
              <ion-list>
                <ion-item ng-repeat="item in data2" ng-class="'listitem'">
                  {{item.lineno.length==1?"&nbsp;&nbsp;":""}}{{item.lineno}} {{item.name}} {{item.name.length==2?"&nbsp;&nbsp;":""}}
                </ion-item>
              </ion-list>

            </ion-scroll>

          </div>
        </div>

      </td>
      <td width="33%"  rowspan="2" style="padding-left:2px;background-color: #759E60;border-left:darkgrey solid 1px;border-right: darkgrey solid 1px;" >
         <div class="mygrid" style="text-align: left;background-color: #759E60;">
          <button class="button myButton">&nbsp;过号人员&nbsp;</button>
          <div id="passeddiv" class="scrolldiv">
            <ion-scroll class="ion-list-viewport">
              <ion-list>

                  <ion-item ng-repeat="item in data0" ng-class="'listitem columnlist3'">
                    {{item.lineno.length==1?"&nbsp;&nbsp;":""}}{{item.lineno}}<br> {{item.name}} {{item.name.length==2?"&nbsp;&nbsp;":""}}
                  </ion-item>


              </ion-list>

            </ion-scroll>

          </div>
        </div>

      </td>
    </tr>
    <tr style="height: 50%"  >

      <td width="33%"      style="overflow: hidden;border-left:darkgrey solid 1px;border-right: darkgrey solid 1px;">


          <div class="mygrid">
            <button class="button myButton">&nbsp;心电第3诊室&nbsp;</button>

            <div >
              <ion-scroll zooming="true" class="ion-list-viewport">
                <ion-list>
                  <ion-item ng-repeat="item in data3" ng-class="'listitem'">
                    {{item.lineno.length==1?"&nbsp;&nbsp;":""}}{{item.lineno}} {{item.name}} {{item.name.length==2?"&nbsp;&nbsp;":""}}
                  </ion-item>
                </ion-list>

              </ion-scroll>
            </div>


          </div>



      </td>
      <td width="33%"     style="overflow: hidden;border-left: darkgrey solid 1px;border-right: darkgrey solid 1px;">

         <div class=" mygrid">
          <button class="button myButton">&nbsp;心电第4诊室&nbsp;</button>
          <div >
            <ion-scroll class="ion-list-viewport">
              <ion-list>
                <ion-item ng-repeat="item in data4" ng-class="'listitem'">
                  {{item.lineno.length==1?"&nbsp;&nbsp;":""}}{{item.lineno}} {{item.name}} {{item.name.length==2?"&nbsp;&nbsp;":""}}
                </ion-item>
              </ion-list>

            </ion-scroll>

          </div>
        </div>

      </td>
    </tr>

  </table>











</ion-content>

<ion-footer-bar align-title="left" class="bar-stable bar bar-positive has-footer" >


  <div id="marquee" class="ng-binding" style="line-height: 33px;">{{tip}}</div>

</ion-footer-bar>







