/* Empty. Add your own CSS if you like */
.myComponent {
  background-color:darkblue ;
  height: 100%;
}

.myButton {
  background-color:#CCFFFF ;
  font-size: xx-large;
  font-weight: bold;
  color: darkslateblue;
  width: 100%;
  height: 100%;
}
.myTitle{
  font-size: xx-large !important;
}
.myList{
  width: 100%;
  height: 100%;
  /*height: 100px;*/

  background-color :lightskyblue;

}
.ion-list-viewport{
  max-height: 100%;
  overflow:hidden;

  border-bottom: solid 1px #ddd;

}

.item-content {
  background-color: lightskyblue ;
}
.mygrid{
  background-color :lightskyblue;

}
.scrolldiv{
  height: 340px;
}
.col{
  /*background-color:white !important;*/
  border:thin solid #CCFFFF;
  text-align:center !important;
}

.scroll{
  height: 100% !important;
  /*background:red;*/
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-direction: normal !important;
  -moz-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  -moz-box-orient: vertical !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;

}

.listitem {
  background-color :lightskyblue;
  font-size: xx-large;
}

.row{
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 50% !important;
  -ms-flex: 0 1 50% !important;
  flex: 0 1 50% !important;
}
.rowsmall{
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  padding-left: 5px;
  padding-rigth: 5px;
  -webkit-flex: 0 1 10% !important;
  -ms-flex: 0 1 10% !important;
  flex: 0 1 10% !important;
}



.my-scroll-view{
  /*position: absolute;*/
  line-height: normal;
  /*top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;*/
}

#marquee {
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  font-size: xx-large;
  border:0px solid #ccc;
}


/*.bar-footer{
  height: 60px;
}*/
/*.bar-footer {
  height: 100px !important;
}*/
